@import url("https://fonts.googleapis.com/css?family=Roboto");

.chatBubble {
    background: #fff;
    padding: 10px;
    border-radius: 0 6px 6px 6px;
    font-family: "Roboto";
    font-size: 12px;
    min-width: 10em;
}

.myChatBubble {
    background: #cccccc;
    padding: 10px;
    border-radius: 6px 0px 6px 6px;
    font-family: "Roboto";
    font-size: 12px;
    min-width: 10em;
}

body {
    background-color: #61dafb;

}